*{
    margin: 0;
    padding: 0;
}

.container{
    display : flex;
    flex-direction : row;
}

#my_groups{
    min-width: 22vw;
  max-height: 83vh;
}
#group_messages{
    min-width: 74vw;
    max-width: 75vw;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y:scroll;
}

.chat_body{
    background-color: rgb(210, 183, 242);
}
#all-joinee{
    position: relative;
  top: 5px;
}

p{
    margin-left: 300px;
    background-color: rgb(157, 115, 172);
    margin-right: 100px;
    padding: 10px;
}
p:nth-of-type(odd){
    background-color: rgb(73, 31, 79);
    color: white;
}

.hide{
    display: none;
}
ul{
    font-size:20px;
    margin-left: 40%;
}
#make_group{
    margin-left: 526px;
  font-size: initial;
  font-style: oblique;
  padding: 3px

}
#show_group{
    /* margin-left: 526px; */
    font-size: initial;
    font-style: oblique;
    padding: 3px
}
#chat{
    margin-left: 10px;
    height: 30px;
    width: 50%
}
#send_chat{
    height:20px;
    width: 50px;
    border: 1px solid transparent;
    border-radius:5px
}
#my_groups{
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 126, 224);
    padding: 10px;
    /* margin-bottom: 2px; */

}
button .chat_btn{
    /* padding: 10px; */
    border: 1px solid white;
    height:20px;
    width: 50px;
}
h4{
    margin-bottom: 17px;
    
}
.user_of_grp span {
    margin: 0 10px;
    font-size: small;
    color: rgb(233, 233, 240);
    border-radius: 7px;
    /* border: 3px solid #9c1a1ade; */
    height: fit-content;
    position: relative;
     top: -8px;

}

#group_members{
    margin-left: 44%;
    /* position: relative; */
    /* top: -480px; */
  
    
}

.groups{
    background-color: rgb(187, 155, 223);
}

.u-joined {
    background: darkgrey;
    padding: 10px;
    width: 40vw;
    height: fit-content;
    font-size: medium;
    text-align: center;

}

.o-joined {
    padding: 10px;
    width: 40vw;
    height: fit-content;
    font-size: medium;
    text-align: center;

}

.u-message {
    background: rgb(161, 137, 181);
    padding: 10px;
    width: 40vw;
    height: fit-content;
    font-size: medium;
    text-align: end;

}

.o-message {
    padding: 10px;
    width: 40vw;
    height: fit-content;
    font-size: medium;
}

#groups_h3{
    margin-left: 20px;
    padding: 10px;
}

#add-user{
    /* display: flex; */
    left: 116px;
    position: relative;
    top: -28px;
    /* background-color: black; */
    /* color: rgb(19, 50, 17); */
    height:22px;
}
#other_users{
    margin-left: 44%;
  position: relative;
  top: -450px;
  left: -280px;
}
#group-user{
    position: relative;
  left: 121px;
  top: -27px;
  height: 21px;
}

#user-welcome{
    position: relative;
  left: 22px;
  top: 14px;
  font-size: 19px;
  font-style: oblique;

}