h1{
    margin-left: 45%;
}
p{
    margin-left: 200px;
    background-color: rgb(188, 247, 213);
    margin-right: 100px;
    padding: 10px;

}
p:nth-of-type(odd){
    background-color: rgb(87, 137, 98);
    color: white;
}
.input{
    margin-top: 250px;
    background-color: rgb(9, 60, 41);
    color: white;
    padding:30px;
    /* margin-left: 200px; */

}
.chat{
    padding: 10px;
    margin-left: 250px;
    width: 500px;
}