h1{
    margin-left: 40%;
    /* margin: 10px; */
    /* 
     */
     /* background-color: rgb(78, 90, 90); */
}
p{
    margin-left: 200px;
    background-color: rgb(188, 247, 213);
    margin-right: 100px;
    padding: 10px;

}
p:nth-of-type(odd){
    background-color: rgb(87, 137, 98);
    color: white;
}
.input{
    margin-top: 250px;
    background-color: rgb(9, 60, 41);
    color: white;
    padding:30px;
    /* margin-left: 200px; */

}
.chat{
    padding: 10px;
    margin-left: 180px;
    width: 800px;
}
.index{
    background-color: rgb(160, 188, 160);
}

.login{
    background-color: rgb(160, 188, 160);
}

.signup{
    background-color: rgb(160, 188, 160);
}
